<!-- Teste de formulario de insercao -->
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
<fieldset>

<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Nome:</label>
  <div class="col-md-5">
  <input id="nome" name="nome" type="text" placeholder="nome" class="form-control input-md" required="">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Raça:</label>
  <div class="col-md-5">
  <input id="nome" name="raca" type="text" placeholder="raca" class="form-control input-md" required="">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Idade:</label>
  <div class="col-md-5">
  <input id="nome" name="idade" type="text" placeholder="idade" class="form-control input-md" required="">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="tipo">Sexo:</label>
  <div class="col-md-4">
    <label class="radio-inline" for="tipo-0">
      <input type="radio" name="tipo" id="tipo-0" value="interno" checked="checked">
      Masculino
    </label>
    <label class="radio-inline" for="tipo-1">
      <input type="radio" name="tipo" id="tipo-1" value="externo">
      Feminino
    </label>
  </div>
</div>

<div class="form-group">
  <!-- <label class="col-md-4 control-label" for="salvar">Salvar</label> -->
  <div align="center" class="col-md-2">
    <button  id="salvar" name="salvar" class="btn btn-primary">Salvar</button>
  </div>
</div>

</fieldset>
</form>

  </div>
